Repository fediversespace/fediverse.space: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, deploy-backend-develop, deploy-gephi-develop

.gitlab-ci.yml:

test-frontend:
  image: node:lts-alpine
  stage: test
  before_script:
    - cd frontend
  stage: test
  script:
    - yarn install
    - yarn lint
  cache:
    paths:
      - frontend/node_modules/
      - frontend/.yarn
  except:
    - master
  only:
    changes:
      - frontend/*
deploy-backend-develop:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  only:
    refs:
      - develop
    changes:
      - backend/*
  script:
    - git-push ssh://dokku@api-develop.fediverse.space:phoenix
deploy-gephi-develop:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  only:
    refs:
      - develop
    changes:
      - gephi/*
  script:
    - git-push ssh://dokku@api-develop.fediverse.space:gephi

set up sobelow for backend
  .gitignore
  .gitlab-ci.yml
  backend/.sobelow-conf
  backend/README.md
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/mix.exs
  backend/mix.lock
  frontend/package.json
  frontend/tslint.json
  frontend/yarn.lock
Due: test-frontend, deploy-backend-develop

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add dependency scanning to CI
  .gitlab-ci.yml
Due: none

set up staging frontend to use staging backend
  frontend/README.md
  frontend/src/util.ts
  netlify.toml
Due: test-frontend

Update README.md
  README.md
Due: none

add spam domain to blacklist
  backend/config/config.exs
  backend/config/dev.exs
Due: none

fix edge generation, serve graph in cytoscape format
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/edge.ex
  backend/lib/backend/instance_peer.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend_web/views/graph_view.ex
  backend/priv/repo/migrations/20190624090436_create_instances.exs
  backend/priv/repo/migrations/20190710133755_create_edges.exs
  backend/priv/repo/migrations/20190712133009_add_instance_coords.exs
  frontend/src/components/CytoscapeGraph.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/redux/types.ts
  gephi/bin/main/space/fediverse/graph/GraphBuilder.class
  gephi/src/main/java/space/fediverse/graph/GraphBuilder.java
Due: none

add Insularity score
  README.md
  backend/config/config.exs
  backend/lib/backend_web/views/instance_view.ex
  frontend/package.json
  frontend/src/components/Sidebar.tsx
  frontend/src/components/screens/AboutScreen.tsx
  frontend/src/redux/types.ts
  frontend/yarn.lock
Due: test-frontend

Hide insular instances
  backend/lib/backend/api.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend_web/views/instance_view.ex
  frontend/src/components/CytoscapeGraph.tsx
  frontend/src/components/Sidebar.tsx
  gephi/bin/main/space/fediverse/graph/GraphBuilder.class
  gephi/src/main/java/space/fediverse/graph/GraphBuilder.java
  netlify.toml
Due: none

frontend/cytoscape feature parity
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  backend/lib/backend/api.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/lib/backend_web/views/instance_view.ex
  frontend/package.json
  frontend/src/components/Cytoscape.tsx
  frontend/src/components/CytoscapeGraph.tsx
  frontend/src/components/FloatingLayoutSelect.tsx
  frontend/src/components/Graph.jsx
  frontend/src/components/Graph.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/atoms/FullDiv.tsx
  frontend/src/components/screens/GraphScreen.tsx
  frontend/src/typings/cytoscape-cola.d.ts
  frontend/src/typings/cytoscape-popper.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
  gephi/src/main/java/space/fediverse/graph/GraphBuilder.java
Due: test-frontend

check robots.txt for permission to crawl
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/mix.exs
  backend/mix.lock
Due: deploy-backend-develop

prepare for 2.0.0 release
  BILL-OF-MATERIALS.md
  CHANGELOG
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/mix.exs
  frontend/package.json
Due: test-frontend, deploy-backend-develop

add deployment instructions to README
  README.md
  screenshot.png
Due: none

show robots.txt status in frontend
  CHANGELOG.md
  README.md
  backend/lib/backend_web/controllers/instance_controller.ex
  frontend/src/components/Sidebar.tsx
Due: none

add runtime accesibility warnings
  frontend/package.json
  frontend/src/components/Sidebar.tsx
  frontend/src/index.tsx
  frontend/yarn.lock
Due: test-frontend

fix direct links on netlify
  CHANGELOG.md
  netlify.toml
Due: none

add routing support for selected instance
  CHANGELOG.md
  backend/config/dev.exs
  frontend/README.md
  frontend/package.json
  frontend/src/AppRouter.tsx
  frontend/src/components/ErrorState.tsx
  frontend/src/components/Graph.tsx
  frontend/src/components/Nav.tsx
  frontend/src/components/Page.tsx
  frontend/src/components/atoms/FloatingCard.tsx
  frontend/src/components/atoms/Page.tsx
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/molecules/ErrorState.tsx
  frontend/src/components/molecules/FloatingResetButton.tsx
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/organisms/InstanceSearch.tsx
  frontend/src/components/organisms/Nav.tsx
  frontend/src/components/organisms/Sidebar.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/screens/AboutScreen.tsx
  frontend/src/components/screens/GraphScreen.tsx
  frontend/src/components/screens/index.ts
  frontend/src/components/styled-components.ts
  frontend/src/constants.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/redux/actions.ts
  frontend/src/redux/reducers.ts
  frontend/src/redux/types.ts
  frontend/src/util.ts
  frontend/yarn.lock
Due: test-frontend

make labels larger
  CHANGELOG.md
  frontend/src/components/molecules/Cytoscape.tsx
Due: none

Refactor graph sidebar, move to backend search
  .vscode/settings.json
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/lib/backend/repo.ex
  backend/lib/backend_web/controllers/search_controller.ex
  backend/lib/backend_web/router.ex
  backend/lib/backend_web/views/search_view.ex
  backend/mix.exs
  backend/mix.lock
  frontend/package.json
  frontend/src/AppRouter.tsx
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/molecules/FloatingResetButton.tsx
  frontend/src/components/molecules/SearchResult.tsx
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/organisms/InstanceSearch.tsx
  frontend/src/components/organisms/Nav.tsx
  frontend/src/components/organisms/SidebarContainer.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/screens/GraphScreen.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/components/screens/SearchScreen.tsx
  frontend/src/components/screens/index.ts
  frontend/src/components/styled-components.ts
  frontend/src/redux/actions.ts
  frontend/src/redux/reducers.ts
  frontend/src/redux/types.ts
  frontend/src/util.ts
  frontend/yarn.lock
Due: test-frontend, deploy-backend-develop

frontend/search/ui fixes
  backend/config/dev.exs
  backend/lib/backend_web/views/search_view.ex
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/components/screens/SearchScreen.tsx
Due: none

experimental mobile support
  backend/lib/backend/api.ex
  backend/lib/backend_web/controllers/graph_controller.ex
  backend/lib/backend_web/router.ex
  frontend/src/AppRouter.tsx
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/screens/GraphScreen.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/constants.tsx
  frontend/src/index.tsx
  frontend/src/redux/reducers.ts
  frontend/src/util.ts
Due: none

frontend/fix mobile
  CHANGELOG.md
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/organisms/SidebarContainer.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/redux/actions.ts
Due: none

add various meta tags
  frontend/public/index.html
  frontend/public/preview.png
Due: none

prepare for 2.1.0 release
  CHANGELOG.md
  backend/mix.exs
  frontend/package.json
Due: test-frontend, deploy-backend-develop

Color code graph
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
  backend/lib/backend/instance.ex
  backend/lib/backend_web/views/graph_view.ex
  backend/lib/backend_web/views/search_view.ex
  backend/priv/repo/migrations/20190724114437_add_instance_type.exs
  frontend/src/components/atoms/FloatingCard.tsx
  frontend/src/components/atoms/GraphKey.tsx
  frontend/src/components/atoms/GraphResetButton.tsx
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/molecules/FloatingResetButton.tsx
  frontend/src/components/molecules/GraphTools.tsx
  frontend/src/components/molecules/SearchResult.tsx
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/constants.tsx
  frontend/src/redux/types.ts
  frontend/src/types.ts
  frontend/src/util.ts
Due: none

show instance type in details
  backend/lib/backend_web/views/instance_view.ex
  frontend/src/components/atoms/GraphKey.tsx
  frontend/src/components/atoms/InstanceType.tsx
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/SearchResult.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/redux/types.ts
Due: none

enable zooming slightly further out
  frontend/src/components/molecules/Cytoscape.tsx
Due: none

prepare for 2.2.0 release
  CHANGELOG.md
  backend/mix.exs
  frontend/package.json
Due: test-frontend, deploy-backend-develop

Save base domain
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/releases.exs
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend/util.ex
  backend/lib/mailer/admin_email.ex
  backend/lib/mailer/mailer.ex
  backend/mix.exs
  backend/mix.lock
  backend/priv/repo/migrations/20190725120819_add_base_domain.exs
Due: deploy-backend-develop

crawl less often
  backend/config/config.exs
Due: none

update changelog
  CHANGELOG.md
Due: none

feature/administration
  CHANGELOG.md
  backend/README.md
  backend/config/config.exs
  backend/config/releases.exs
  backend/lib/backend/api.ex
  backend/lib/backend/application.ex
  backend/lib/backend/auth.ex
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/admin_controller.ex
  backend/lib/backend_web/controllers/admin_login_controller.ex
  backend/lib/backend_web/controllers/fallback_controller.ex
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/lib/backend_web/endpoint.ex
  backend/lib/backend_web/router.ex
  backend/lib/backend_web/views/admin_login_view.ex
  backend/lib/backend_web/views/admin_view.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/lib/mailer/user_email.ex
  backend/priv/repo/migrations/20190726104004_add_instance_settings.exs
  frontend/src/AppRouter.tsx
  frontend/src/components/molecules/ErrorState.tsx
  frontend/src/components/organisms/Nav.tsx
  frontend/src/components/screens/AboutScreen.tsx
  frontend/src/components/screens/AdminScreen.tsx
  frontend/src/components/screens/LoginScreen.tsx
  frontend/src/components/screens/VerifyLoginScreen.tsx
  frontend/src/components/screens/index.ts
  frontend/src/index.css
  frontend/src/toaster.ts
  frontend/src/util.ts
  gephi/bin/main/space/fediverse/graph/GraphBuilder.class
  gephi/src/main/java/space/fediverse/graph/GraphBuilder.java
Due: deploy-backend-develop

add missing import in user_email
  backend/lib/mailer/user_email.ex
Due: none
