Repository fediversespace/fediverse.space: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, backend-sobelow, deploy-backend-develop, deploy-gephi-develop

test-frontend:
  image: node:lts-alpine
  stage: test
  before_script:
  - cd frontend
  script:
  - yarn install
  - yarn lint
  cache:
    paths:
    - frontend/node_modules/
    - frontend/.yarn

backend-sobelow:
  stage: test
  image: elixir:1.9
  before_script:
  - cd backend
  script:
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  - mix deps.compile
  - mix sobelow --config
  cache:
    paths:
    - backend/deps/
    - backend/_build/

deploy-backend-develop:
  stage: deploy
  environment:
    name: develop
    url: https://phoenix.api-develop.fediverse.space
  image: ilyasemenov/gitlab-ci-git-push
  script:
  - git-push ssh://dokku@api-develop.fediverse.space:22/phoenix

deploy-gephi-develop:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  environment:
    name: develop
  script:
  - git-push ssh://dokku@api-develop.fediverse.space:22/gephi

add full-text search
  .vscode/settings.json
  CHANGELOG.md
  backend/Procfile
  backend/config/config.exs
  backend/config/releases.exs
  backend/lib/backend/api.ex
  backend/lib/backend/application.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/elasticsearch/cluster.ex
  backend/lib/backend/elasticsearch/store.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/release.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/search_controller.ex
  backend/lib/backend_web/views/admin_view.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/lib/backend_web/views/search_view.ex
  backend/mix.exs
  backend/mix.lock
  backend/priv/elasticsearch/instances.json
  docker-compose.yml
  frontend/src/components/atoms/GraphKey.tsx
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/molecules/SearchResult.tsx
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/screens/AdminScreen.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/components/screens/SearchScreen.tsx
  frontend/src/constants.tsx
  frontend/src/redux/actions.ts
  frontend/src/redux/reducers.ts
  frontend/src/redux/types.ts
  gephi/bin/main/space/fediverse/graph/GraphBuilder.class
Due: backend-sobelow, deploy-backend-develop

Setup appsignal
  backend/config/config.exs
  backend/config/releases.exs
  backend/lib/backend/application.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
  backend/lib/backend/release.ex
  backend/lib/backend_web/endpoint.ex
  backend/mix.exs
  backend/mix.lock
Due: backend-sobelow, deploy-backend-develop

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

check for spam less often
  backend/config/config.exs
  backend/lib/backend/scheduler.ex
Due: none

add ES to extra_applications
  backend/mix.exs
Due: backend-sobelow, deploy-backend-develop

don't log crawl times with appsignal
  backend/lib/backend/crawler/crawler.ex
Due: none

don't add domains to the queue twice
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
Due: none

perf and metrics tweaks
  CHANGELOG.md
  backend/config/config.exs
  backend/config/dev.exs
  backend/lib/backend/application.ex
Due: none

add nlnet logo to about page
  README.md
  frontend/src/assets/nlnet.png
  frontend/src/components/screens/AboutScreen.tsx
  nlnet-logo.png
Due: none

quantitative color coding
  CHANGELOG.md
  README.md
  backend/config/config.exs
  backend/lib/backend/api.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend_web/views/graph_view.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/priv/repo/migrations/20190727140717_add_statuses_per_day.exs
  frontend/src/assets/nlnet.png
  frontend/src/components/atoms/FloatingCard.tsx
  frontend/src/components/atoms/GraphKey.tsx
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/molecules/GraphTools.tsx
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/screens/AboutScreen.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/constants.tsx
  frontend/src/redux/reducers.ts
  frontend/src/redux/types.ts
  frontend/src/types.ts
  frontend/src/util.ts
  nlnet-logo.png
Due: none

have config available for docker dependency compilation
  backend/Dockerfile
Due: backend-sobelow, deploy-backend-develop

update gollum; more logging in indexer
  backend/Procfile
  backend/lib/backend/release.ex
  backend/mix.lock
Due: backend-sobelow, deploy-backend-develop

extremely hacky fix for ES configuration
  backend/config/config.exs
  backend/lib/backend/release.ex
Due: none

separate dockerfile copy commands for debugging
  backend/Dockerfile
Due: backend-sobelow, deploy-backend-develop

Update README.md
  README.md
Due: none

update ES index on crawl
  README.md
  backend/config/config.exs
  backend/lib/backend/crawler/crawler.ex
Due: none

add color-coding by activity per person
  backend/lib/backend/scheduler.ex
  backend/lib/backend_web/views/graph_view.ex
  backend/lib/backend_web/views/instance_view.ex
  frontend/src/components/atoms/GraphKey.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/redux/types.ts
  frontend/src/types.ts
  frontend/src/util.ts
Due: none

release 2.3.0
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
Due: test-frontend, backend-sobelow, deploy-backend-develop

normalize instance names
  CHANGELOG.md
  backend/config/config.exs
  backend/config/dev.exs
  backend/lib/backend/crawler/crawler.ex
Due: none

fix error in mobile instance view
  CHANGELOG.md
  backend/lib/backend_web/views/graph_view.ex
Due: none

improve admin page error handling
  CHANGELOG.md
  frontend/src/components/screens/LoginScreen.tsx
Due: none

don't load graph till it's viewed
  CHANGELOG.md
  frontend/src/components/screens/GraphScreen.tsx
Due: none

add mobile warning
  CHANGELOG.md
  frontend/src/components/screens/SearchScreen.tsx
Due: none

never display opted-out instances anywhere
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/instance.ex
  backend/lib/backend_web/controllers/admin_controller.ex
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/priv/elasticsearch/instances.json
Due: none

improve search result relevance
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/priv/elasticsearch/instances.json
Due: none

release 2.3.1
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
Due: test-frontend, backend-sobelow, deploy-backend-develop

add search button to search bar
  CHANGELOG.md
  frontend/src/components/screens/SearchScreen.tsx
Due: none

filter by instance type
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/lib/backend_web/controllers/search_controller.ex
  frontend/src/components/molecules/SearchResult.tsx
  frontend/src/components/organisms/SearchFilters.tsx
  frontend/src/components/organisms/SidebarContainer.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/screens/SearchScreen.tsx
  frontend/src/constants.tsx
  frontend/src/redux/actions.ts
  frontend/src/redux/reducers.ts
  frontend/src/redux/types.ts
  frontend/src/searchFilters.ts
  frontend/src/types.ts
Due: none

support searching in many more languages
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/priv/elasticsearch/instances.json
Due: none

add toggle to show/hide edges
  CHANGELOG.md
  frontend/src/components/atoms/GraphHideEdgesButton.tsx
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/src/components/molecules/GraphTools.tsx
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/screens/InstanceScreen.tsx
Due: none

release 2.4.0
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
Due: test-frontend, backend-sobelow, deploy-backend-develop

fix search view when no results, release 2.4.1
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
  frontend/src/components/screens/SearchScreen.tsx
Due: test-frontend, backend-sobelow, deploy-backend-develop

Add misskey crawler
  CHANGELOG.md
  backend/config/dev.exs
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/crawler/util.ex
  backend/lib/backend/util.ex
  frontend/src/constants.tsx
Due: none

fix instance details view on mobile (fixes #88)
  CHANGELOG.md
  frontend/src/components/screens/InstanceScreen.tsx
Due: none

fix accidental break of mastodon crawler
  backend/lib/backend/api.ex
  backend/lib/backend/crawler/util.ex
Due: none

increase db timeout
  CHANGELOG.md
  backend/lib/backend/repo.ex
Due: none

Fewer unnecessary crawls
  CHANGELOG.md
  backend/config/config.exs
  backend/config/dev.exs
  backend/lib/backend/crawler/stale_instance_manager.ex
Due: none

fix broken stale instance manager
  backend/lib/backend/crawler/stale_instance_manager.ex
Due: none

handle crawl timestamps in db
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/util.ex
  backend/priv/repo/migrations/20190807155906_add_next_crawl_to_instances.exs
Due: none

Path conditions:
  test-frontend: any of: frontend/*
  backend-sobelow: any of: backend/*
  deploy-backend-develop: any of: backend/*
  deploy-gephi-develop: any of: gephi/*
