Repository fediversespace/fediverse.space: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, backend-sobelow, deploy-backend-develop, deploy-gephi-develop

test-frontend:
  image: node:lts-alpine
  stage: test
  before_script:
  - cd frontend
  script:
  - yarn install
  - yarn lint
  cache:
    paths:
    - frontend/node_modules/
    - frontend/.yarn

backend-sobelow:
  stage: test
  image: elixir:1.9
  before_script:
  - cd backend
  script:
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  - mix deps.compile
  - mix sobelow --config
  cache:
    paths:
    - backend/deps/
    - backend/_build/

deploy-backend-develop:
  stage: deploy
  environment:
    name: develop
    url: https://phoenix.api-develop.fediverse.space
  image: ilyasemenov/gitlab-ci-git-push
  script:
  - git-push ssh://dokku@api-develop.fediverse.space:22/phoenix

deploy-gephi-develop:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  environment:
    name: develop
  script:
  - git-push ssh://dokku@api-develop.fediverse.space:22/gephi

only use 20 crawl workers
  backend/config/config.exs
Due: none

set infinite timeout on v expensive queries
  backend/lib/backend/scheduler.ex
Due: none

only save successful crawls in db
  backend/lib/backend/crawl.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/priv/repo/migrations/20190710155001_create_crawls.exs
  backend/priv/repo/migrations/20190807182941_remove_crawl_error.exs
Due: none

more performant deletes
  backend/priv/repo/migrations/20190807182941_remove_crawl_error.exs
Due: none

Only run dependency scanning on schedules
  .gitlab-ci.yml
Due: none

Don't deploy on schedules!
  .gitlab-ci.yml
Due: none

release 2.5.0
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
Due: test-frontend, backend-sobelow, deploy-backend-develop

Revert "add metadata endpoint"
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/gnu_social.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/crawler/crawlers/nodeinfo.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
  backend/lib/backend/crawler/util.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/admin_login_controller.ex
  frontend/src/components/atoms/InstanceType.tsx
  frontend/src/components/organisms/SearchFilters.tsx
  frontend/src/constants.tsx
  frontend/src/util.ts
Due: none

add ON DELETE to relations
  backend/priv/repo/migrations/20190809165902_add_on_deletes.exs
Due: none

add writefreely and peertube to frontend
  frontend/src/constants.tsx
Due: none

enabling zooming slightly further out
  frontend/src/components/molecules/Cytoscape.tsx
Due: none

also detect gnusocial instances w/o nodeinfo
  backend/lib/backend/crawler/crawlers/gnu_social.ex
  backend/lib/backend/scheduler.ex
Due: none

crawl all gnusocial instances w/o nodeinfo
  backend/lib/backend/crawler/crawlers/gnu_social.ex
Due: none

release 2.6.0
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
Due: test-frontend, backend-sobelow, deploy-backend-develop

add missing indices on crawls
  CHANGELOG.md
  backend/priv/repo/migrations/20190810123317_add_crawls_index.exs
Due: none

add most recent crawl table
  CHANGELOG.md
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/gnu_social.ex
  backend/lib/backend/most_recent_crawl.ex
  backend/lib/backend/util.ex
  backend/priv/repo/migrations/20190810125304_add_most_recent_crawl_table.exs
Due: none

release 2.6.1
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
Due: test-frontend, backend-sobelow, deploy-backend-develop

clean up ES config
  CHANGELOG.md
  backend/config/config.exs
  backend/lib/backend/elasticsearch/cluster.ex
Due: none

remove color-coding by activity per user
  CHANGELOG.md
  backend/lib/backend_web/views/graph_view.ex
  frontend/src/types.ts
Due: none

add friendica crawler
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/friendica.ex
  frontend/src/constants.tsx
Due: none

also color hubzilla nodes
  frontend/src/constants.tsx
Due: none

add plume to front-end
  frontend/src/constants.tsx
Due: none

add more colors and rearrange server order
  frontend/src/constants.tsx
Due: none

add pixelfed and wordpress coloring to graph
  frontend/src/constants.tsx
Due: none

show instance type in tooltip
  frontend/src/components/molecules/Cytoscape.tsx
Due: none

only put instances with a type on the graph
  gephi/src/main/java/space/fediverse/graph/GraphBuilder.java
Due: none

release 2.7.0
  CHANGELOG.md
  backend/config/config.exs
  backend/mix.exs
  frontend/package.json
Due: test-frontend, backend-sobelow, deploy-backend-develop

fix most_recent_crawl table for dead instances
  CHANGELOG.md
  backend/priv/repo/migrations/20190820070144_add_most_recent_crawl_on_delete.exs
Due: none

allow logging in w/ a click, not just enter
  CHANGELOG.md
  frontend/src/components/screens/LoginScreen.tsx
Due: none

update frontend deps
  frontend/package.json
  frontend/yarn.lock
Due: test-frontend

Lint backend
  .gitlab-ci.yml
  backend/lib/backend/api.ex
  backend/lib/backend/application.ex
  backend/lib/backend/auth.ex
  backend/lib/backend/crawl.ex
  backend/lib/backend/crawl_interaction.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/friendica.ex
  backend/lib/backend/crawler/crawlers/gnu_social.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/crawler/crawlers/nodeinfo.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
  backend/lib/backend/crawler/util.ex
  backend/lib/backend/edge.ex
  backend/lib/backend/elasticsearch/cluster.ex
  backend/lib/backend/elasticsearch/store.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/instance_peer.ex
  backend/lib/backend/most_recent_crawl.ex
  backend/lib/backend/release.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/admin_controller.ex
  backend/lib/backend_web/controllers/admin_login_controller.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/lib/mailer/admin_email.ex
  backend/lib/mailer/mailer.ex
  backend/lib/mailer/user_email.ex
  backend/lib/mix/tasks/crawl.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/support/channel_case.ex
  backend/test/support/conn_case.ex
  backend/test/support/data_case.ex
  frontend/package.json
  frontend/yarn.lock
Due: test-frontend, backend-sobelow, deploy-backend-develop

include sobelow in test env
  backend/mix.exs
Due: backend-sobelow, deploy-backend-develop

add caching to expensive queries
  CHANGELOG.md
  backend/config/config.exs
  backend/lib/backend/application.ex
  backend/lib/backend_web/controllers/graph_controller.ex
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/lib/graph/cache.ex
  backend/mix.exs
  backend/mix.lock
Due: backend-sobelow, deploy-backend-develop

fail if some peers are invalid
  backend/lib/backend/crawler/crawler.ex
Due: none

handle weirdly-formatted friendica peers
  CHANGELOG.md
  backend/lib/backend/crawler/crawlers/friendica.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/crawler/util.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/instance_controller.ex
Due: none

about-page wording updates
  frontend/src/components/screens/AboutScreen.tsx
Due: none

add on delete cascade to crawl interactions
  backend/priv/repo/migrations/20190821203820_add_crawl_interaction_on_delete.exs
Due: none

add scheduled functions to appsignal
  backend/lib/backend/scheduler.ex
Due: none

animate pan to selected instance
  CHANGELOG.md
  backend/lib/backend_web/endpoint.ex
  frontend/package.json
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/yarn.lock
Due: test-frontend

Revert "animate pan to selected instance"
  CHANGELOG.md
  backend/lib/backend_web/endpoint.ex
  frontend/package.json
  frontend/src/components/molecules/Cytoscape.tsx
  frontend/yarn.lock
Due: test-frontend

Path conditions:
  test-frontend: any of: frontend/*
  backend-sobelow: any of: backend/*
  deploy-backend-develop: any of: backend/*
  deploy-gephi-develop: any of: gephi/*
