Repository fediversespace/fediverse.space: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, test-backend

.gitlab-ci.yml:

include:
  template: Dependency-Scanning.gitlab-ci.yml

dependency_scanning:
  only:
    - schedules

test-frontend:
  image: node:lts-alpine
  stage: test
  before_script:
    - cd frontend
  stage: test
  script:
    - yarn install
    - yarn lint
  cache:
    paths:
      - frontend/node_modules/
      - frontend/.yarn
  only:
    changes:
      - frontend/*

test-backend:
  stage: test
  image: elixir:1.9
  variables:
    MIX_ENV: test
  only:
    changes:
      - backend/*
  before_script:
    - cd backend
  script:
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get
    - mix deps.compile
    - mix credo --strict
    - mix sobelow --config
  cache:
    paths:
      - backend/deps/
      - backend/_build/

deploy-backend-develop:
  stage: deploy
  environment:
    name: develop
    url: https://phoenix.api-develop.fediverse.space
  image: ilyasemenov/gitlab-ci-git-push
  only:
    - develop
  except:
    - schedules
  script:
    - git-push dokku@api-develop.fediverse.space:phoenix develop

deploy-gephi-develop:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  environment:
    name: develop
  only:
    - develop
  except:
    - schedules
  script:
    - git-push dokku@api-develop.fediverse.space:gephi develop
    
deploy-backend-production:
  stage: deploy
  environment:
    name: production
    url: https://phoenix.api.fediverse.space
  image: ilyasemenov/gitlab-ci-git-push
  only:
    - master
  except:
    - schedules
  script:
    - git-push dokku@api.fediverse.space:phoenix master

deploy-gephi-production:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  environment:
    name: production
  only:
    - master
  except:
    - schedules
  script:
    - git-push dokku@api.fediverse.space:gephi master

fix domain cleaning
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/friendica.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/crawler/util.ex
  backend/lib/backend/util.ex
Due: none

allow dismissing instance load error
  CHANGELOG.md
  frontend/src/components/screens/AboutScreen.tsx
  frontend/src/components/screens/InstanceScreen.tsx
Due: none

release 2.7.1
  CHANGELOG.md
  backend/mix.exs
  frontend/package.json
Due: test-frontend, test-backend

add AP login for instance admins
  CHANGELOG.md
  backend/config/config.exs
  backend/lib/backend/api.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend_web/controllers/admin_controller.ex
  backend/lib/backend_web/controllers/admin_login_controller.ex
  backend/lib/backend_web/views/admin_login_view.ex
  backend/lib/mastodon/Messenger.ex
  backend/mix.exs
  backend/mix.lock
  frontend/src/components/screens/AdminScreen.tsx
  frontend/src/components/screens/LoginScreen.tsx
Due: test-backend

add forgotten moduledoc
  backend/lib/mastodon/Messenger.ex
Due: none

improved edges
  backend/config/config.exs
  backend/config/dev.exs
  backend/lib/backend/api.ex
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/friendica.ex
  backend/lib/backend/crawler/crawlers/gnu_social.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/crawler/crawlers/nodeinfo.ex
  backend/lib/backend/federation_restriction.ex
  backend/lib/backend/repo.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/lib/backend_web/router.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/mix.exs
  backend/mix.lock
  backend/priv/repo/migrations/20190827092226_create_federation_restrictions.exs
  frontend/src/AppRouter.tsx
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/organisms/InstanceTable.tsx
  frontend/src/components/organisms/Nav.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/screens/GraphScreen.tsx
  frontend/src/components/screens/TableScreen.tsx
  frontend/src/components/screens/index.ts
  frontend/src/redux/actions.ts
  frontend/src/redux/reducers.ts
  frontend/src/redux/types.ts
Due: test-backend

fix no edges between blocked instances
  CHANGELOG.md
  backend/config/dev.exs
  backend/lib/backend/scheduler.ex
Due: none

add config toggle for bidirectional-mention-edges
  CHANGELOG.md
  backend/config/config.exs
  backend/lib/backend/scheduler.ex
Due: none

increase timeout for admin login
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/admin_login_controller.ex
Due: none

add disclaimers to admin login page
  frontend/src/components/screens/LoginScreen.tsx
Due: none

add disclaimer to neighbors tab
  CHANGELOG.md
  frontend/src/components/screens/InstanceScreen.tsx
Due: none

display federation restrictions
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/nodeinfo.ex
  backend/lib/backend/instance.ex
  backend/lib/backend_web/controllers/admin_controller.ex
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/lib/graph/cache.ex
  backend/mix.exs
  backend/mix.lock
  frontend/src/components/organisms/FederationTab.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/redux/types.ts
Due: test-backend

hide opted-out instances from federation restriction lists
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/lib/backend_web/views/instance_view.ex
Due: none

fix pagination for long lists in instance table
  frontend/src/components/organisms/InstanceTable.tsx
Due: none

hide opted-out instances from table
  backend/lib/backend/api.ex
  frontend/src/components/organisms/InstanceTable.tsx
Due: none

add sorting to tabular view
  CHANGELOG.md
  backend/lib/backend/api.ex
  backend/lib/backend_web/controllers/instance_controller.ex
  backend/lib/backend_web/views/instance_view.ex
  backend/test/backend_web/controllers/instance_controller_test.exs
  frontend/src/components/atoms/Page.tsx
  frontend/src/components/organisms/InstanceTable.tsx
  frontend/src/components/screens/TableScreen.tsx
  frontend/src/redux/actions.ts
  frontend/src/redux/reducers.ts
  frontend/src/redux/types.ts
Due: none

release 2.8.0
  CHANGELOG.md
  backend/mix.exs
  frontend/package.json
Due: test-frontend, test-backend

add appsignal and gitlab logos to credits
  frontend/src/assets/appsignal.svg
  frontend/src/assets/gitlab.png
  frontend/src/assets/nlnet.png
  frontend/src/components/screens/AboutScreen.tsx
Due: none

fix error when viewing some uncrawled instances
  CHANGELOG.md
  backend/lib/backend_web/views/instance_view.ex
  frontend/src/components/screens/InstanceScreen.tsx
Due: none

fix navbar z-index
  CHANGELOG.md
  frontend/src/components/atoms/FloatingCard.tsx
  frontend/src/components/atoms/Page.tsx
Due: none

fix status rate query
  CHANGELOG.md
  backend/lib/backend/scheduler.ex
Due: none

hide appsignal logo (waiting on a white one)
  frontend/src/components/screens/AboutScreen.tsx
Due: none

release 2.8.1
  CHANGELOG.md
  backend/mix.exs
  frontend/package.json
Due: test-frontend, test-backend

fix insularity score when it's 0
  CHANGELOG.md
  backend/lib/backend/scheduler.ex
Due: none

release 2.8.2
  CHANGELOG.md
  backend/mix.exs
  frontend/package.json
Due: test-frontend, test-backend

display plain pleroma version string
  CHANGELOG.md
  backend/lib/backend/crawler/crawlers/mastodon.ex
Due: none

fix #97 - insular instances on graph
  CHANGELOG.md
  backend/lib/backend/api.ex
Due: none

move to REUSE copyright spec
  .reuse/dep5
  LICENSE
  LICENSES/AGPL-3.0-or-later.txt
Due: none

fix DEP5 file to follow spec
  .reuse/dep5
Due: none

Add LICENSE
  LICENSE
Due: none

Revert "fix #97 - insular instances on graph"
  CHANGELOG.md
  backend/lib/backend/api.ex
Due: none

update appsignal
  backend/mix.lock
Due: test-backend

update backend dependencies
  backend/mix.lock
Due: test-backend

fix some unsuccesful crawls being saved without error
  CHANGELOG.md
  backend/lib/backend/crawler/crawler.ex
Due: none

update backend and frontend deps
  CHANGELOG.md
  backend/mix.lock
  frontend/package.json
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/yarn.lock
Due: test-frontend, test-backend

Revert "display plain pleroma version string"
  CHANGELOG.md
  backend/lib/backend/crawler/crawlers/mastodon.ex
Due: none

make sure crawl results are never overwritten with a blank ApiCrawler
  backend/config/config.exs
  backend/lib/backend/crawler/crawlers/gnu_social.ex
  backend/lib/backend/scheduler.ex
Due: none

remove develop deployment
  .gitlab-ci.yml
Due: none

release 2.8.3
  CHANGELOG.md
Due: none

fix frontend crash when node missing
  CHANGELOG.md
  backend/config/dev.exs
  frontend/src/components/molecules/Cytoscape.tsx
Due: none
