Repository fediversespace/fediverse.space: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, test-backend

test-frontend:
  image: node:lts-alpine
  stage: test
  before_script:
  - cd frontend
  script:
  - yarn install
  - yarn lint
  cache:
    paths:
    - frontend/node_modules/
    - frontend/.yarn

test-backend:
  stage: test
  image: elixir:1.9
  variables:
    MIX_ENV: test
  before_script:
  - cd backend
  script:
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  - mix deps.compile
  - mix credo --strict
  - mix sobelow --config
  cache:
    paths:
    - backend/deps/
    - backend/_build/

Cherry-picking fork fixes
  .github/workflows/elixir.yml
  .github/workflows/main.yml
  backend/Dockerfile
  backend/config/config.exs
  backend/config/releases.exs
  backend/docker-compose.yaml
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/release.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend/util.ex
  backend/mix.exs
  backend/mix.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/constants.tsx
  frontend/src/index.tsx
  frontend/yarn.lock
Due: test-frontend, test-backend

Fix friendica recognition
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
Due: test-backend

update backend
  .github/workflows/main.yml
  .gitlab-ci.yml
  README.md
  backend/.credo.exs
  backend/Dockerfile
  backend/README.md
  backend/config/config.exs
  backend/config/releases.exs
  backend/lib/backend/application.ex
  backend/lib/backend/crawler/api_crawler.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/nodeinfo.ex
  backend/lib/backend/crawler/stale_instance_manager.ex
  backend/lib/backend/scheduler.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/endpoint.ex
  backend/lib/backend_web/rate_limiter.ex
  backend/lib/backend_web/router.ex
  backend/lib/graph/cache.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/backend_web/controllers/graph_controller_test.exs
  backend/test/backend_web/controllers/instance_controller_test.exs
  backend/test/support/conn_case.ex
  docker-compose.yaml
Due: test-backend

Squashed commit of the following:
  .gitlab-ci.yml
  BILL-OF-MATERIALS.md
  frontend/.snyk
  netlify.toml
Due: test-frontend

update to phoenix 1.7
  backend/.formatter.exs
  backend/lib/backend_web.ex
  backend/lib/backend_web/endpoint.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/support/conn_case.ex
Due: test-backend

release docker images to ghcr
  .github/workflows/deploy.yml
Due: none

remove elasticsearch
  backend/config/config.exs
  backend/config/releases.exs
  backend/lib/backend/api.ex
  backend/lib/backend/application.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/elasticsearch/cluster.ex
  backend/lib/backend/elasticsearch/store.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/release.ex
  backend/lib/backend_web/controllers/admin_controller.ex
  backend/mix.exs
  backend/mix.lock
  docker-compose.yaml
  example.env
Due: test-backend

fix crawls of well-connected instances
  .github/workflows/deploy.yml
  .gitignore
  backend/lib/backend/crawler/crawler.ex
Due: test-backend

update frontend
  .gitignore
  frontend/.eslintrc.cjs
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/components/organisms/Nav.tsx
  frontend/src/components/screens/AboutScreen.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/components/screens/LoginScreen.tsx
  frontend/src/components/screens/SearchScreen.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/searchFilters.ts
  frontend/src/typings/cytoscape-popper.d.ts
  frontend/src/util.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: test-frontend

update frontend deps
  README.md
  backend/package-lock.json
  frontend/.eslintrc.cjs
  frontend/.husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, test-backend

Revert "remove elasticsearch"
  backend/config/config.exs
  backend/config/releases.exs
  backend/lib/backend/api.ex
  backend/lib/backend/application.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/elasticsearch/cluster.ex
  backend/lib/backend/elasticsearch/store.ex
  backend/lib/backend/instance.ex
  backend/lib/backend/release.ex
  backend/lib/backend_web/controllers/admin_controller.ex
  backend/mix.exs
  backend/mix.lock
  docker-compose.yaml
  example.env
Due: test-backend

prep for react-router v6
  README.md
  frontend/src/AppRouter.tsx
  frontend/src/components/screens/GraphScreen.tsx
Due: test-frontend

update appsignal
  backend/config/releases.exs
  backend/config/test.exs
  backend/mix.exs
  backend/mix.lock
  frontend/src/redux/actions.ts
Due: test-frontend, test-backend

fix broken instance cache on misses
  backend/config/config.exs
  backend/lib/graph/cache.ex
Due: test-backend

add activitypub-troll.cf to list of spammers
  backend/config/config.exs
Due: test-backend

add more spam instances
  backend/config/config.exs
Due: test-backend

add healthcheck
  backend/CHECKS
  backend/Dockerfile
  backend/lib/backend_web/endpoint.ex
  backend/lib/backend_web/healthcheck.ex
Due: test-backend

add mastodon link with rel=me
  frontend/index.html
Due: test-frontend

make crawl workers configurable
  backend/config/releases.exs
Due: test-backend

add plausible to frontend
  frontend/index.html
Due: test-frontend

fix nodeinfo and add basic tests
  backend/config/config.exs
  backend/lib/backend/application.ex
  backend/lib/backend/crawler/crawler.ex
  backend/lib/backend/crawler/crawlers/friendica.ex
  backend/lib/backend/crawler/crawlers/gnu_social.ex
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/crawler/crawlers/nodeinfo.ex
  backend/lib/backend/http.ex
  backend/lib/backend/http_behaviour.ex
  backend/lib/backend/util.ex
  backend/lib/backend_web/controllers/admin_login_controller.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/backend/crawler/crawlers/nodeinfo_test.exs
  backend/test/test_helper.exs
Due: test-backend

add misskey tests
  backend/config/test.exs
  backend/lib/backend/crawler/crawlers/misskey.ex
  backend/lib/backend/http.ex
  backend/test/backend/crawler/crawlers/misskey_test.exs
  backend/test/backend/crawler/crawlers/nodeinfo_test.exs
  backend/test/support/data/json/misskey/meta.json
  backend/test/support/data/json/misskey/notes.json
  backend/test/support/data/json/misskey/peers.json
  backend/test/support/data/json/misskey/stats.json
  backend/test/test_helper.exs
Due: test-backend

add mastodon tests, handle auth'd timelines
  backend/lib/backend/crawler/crawlers/mastodon.ex
  backend/test/backend/crawler/crawlers/mastodon_test.exs
  backend/test/support/data/json/mastodon/instance.json
  backend/test/support/data/json/mastodon/peers.json
  backend/test/support/data/json/mastodon/timeline.json
Due: test-backend

crawl less often, and fewer statuses
  .gitignore
  backend/config/config.exs
  backend/lib/backend/application.ex
Due: test-backend

fix frontend builds
  frontend/src/components/molecules/Cytoscape.tsx
Due: test-frontend

fix nodeinfo for some pixelfed instances
  backend/lib/backend/crawler/crawlers/nodeinfo.ex
  backend/test/backend/crawler/crawlers/nodeinfo_test.exs
  backend/test/support/data/json/nodeinfo/pixelfed.json
Due: test-backend

update plausible
  frontend/index.html
Due: test-frontend

Path conditions:
  test-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
