Repository fediversespace/fediverse.space: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, test-backend

.gitlab-ci.yml:

include:
  template: Dependency-Scanning.gitlab-ci.yml

dependency_scanning:
  only:
    - schedules

test-frontend:
  image: node:lts-alpine
  stage: test
  before_script:
    - cd frontend
  stage: test
  script:
    - yarn install
    - yarn lint
  cache:
    paths:
      - frontend/node_modules/
      - frontend/.yarn
  only:
    changes:
      - frontend/*

test-backend:
  stage: test
  image: elixir:1.9
  variables:
    MIX_ENV: test
  only:
    changes:
      - backend/*
  before_script:
    - cd backend
  script:
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get
    - mix deps.compile
    - mix credo --strict
    - mix sobelow --config
  cache:
    paths:
      - backend/deps/
      - backend/_build/

deploy-backend-develop:
  stage: deploy
  environment:
    name: develop
    url: https://phoenix.api-develop.fediverse.space
  image: ilyasemenov/gitlab-ci-git-push
  only:
    - develop
  except:
    - schedules
  script:
    - git-push dokku@api-develop.fediverse.space:phoenix develop

deploy-gephi-develop:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  environment:
    name: develop
  only:
    - develop
  except:
    - schedules
  script:
    - git-push dokku@api-develop.fediverse.space:gephi develop
    
deploy-backend-production:
  stage: deploy
  environment:
    name: production
    url: https://phoenix.api.fediverse.space
  image: ilyasemenov/gitlab-ci-git-push
  only:
    - master
  except:
    - schedules
  script:
    - git-push dokku@api.fediverse.space:phoenix master

deploy-gephi-production:
  stage: deploy
  image: ilyasemenov/gitlab-ci-git-push
  environment:
    name: production
  only:
    - master
  except:
    - schedules
  script:
    - git-push dokku@api.fediverse.space:gephi master

remove backend staging server
  CHANGELOG.md
  frontend/src/util.ts
Due: none

update mastodon account links
  CHANGELOG.md
  README.md
  frontend/src/components/screens/LoginScreen.tsx
Due: none

release 2.8.4
  CHANGELOG.md
Due: none

fix link to mastodon account
  CHANGELOG.md
  frontend/src/components/screens/AboutScreen.tsx
Due: none

more crawlers more often
  CHANGELOG.md
  backend/config/config.exs
Due: none

release v2.8.6
  CHANGELOG.md
Due: none

bring back staging backend
  CHANGELOG.md
  frontend/src/util.ts
Due: none

double number of concurrent crawlers
  CHANGELOG.md
  backend/config/config.exs
Due: none

update deps
  backend/mix.lock
  frontend/package.json
  frontend/yarn.lock
Due: test-frontend, test-backend

update README with podman instructions
  README.md
  docker-compose.yml
Due: none

accessibility improvements
  CHANGELOG.md
  frontend/src/components/atoms/GraphHideEdgesButton.tsx
  frontend/src/components/atoms/GraphKey.tsx
  frontend/src/components/atoms/GraphResetButton.tsx
  frontend/src/components/organisms/Graph.tsx
  frontend/src/components/screens/InstanceScreen.tsx
  frontend/src/components/screens/SearchScreen.tsx
Due: none

chore: remove dep scanning from gitlab-ci
  .gitlab-ci.yml
Due: none

add netlify deploy previews to CORS
  backend/lib/backend_web/endpoint.ex
Due: none

Revert "remove develop deployment"
  .gitlab-ci.yml
Due: none

only run tests when files have changed
  .gitlab-ci.yml
Due: none

add security headers to netlify frontend
  netlify.toml
Due: none

add rate limiting
  README.md
  backend/lib/backend_web/rate_limiter.ex
  backend/lib/backend_web/router.ex
  backend/mix.exs
  backend/mix.lock
  frontend/src/components/screens/AboutScreen.tsx
Due: test-backend

sanitize HTML in backend
  backend/lib/backend/crawler/crawler.ex
  backend/mix.exs
  backend/mix.lock
Due: test-backend

small a11y fixes
  backend/README.md
  backend/lib/backend_web/rate_limiter.ex
  frontend/package.json
  frontend/src/AppRouter.tsx
  frontend/src/components/organisms/InstanceTable.tsx
  frontend/src/components/organisms/Nav.tsx
  frontend/src/components/screens/AboutScreen.tsx
  frontend/src/components/screens/LoginScreen.tsx
  frontend/src/components/screens/SearchScreen.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/yarn.lock
Due: test-frontend, test-backend

release 2.9.0
  CHANGELOG.md
Due: none

add appsignal logo
  CHANGELOG.md
  frontend/src/assets/appsignal.png
  frontend/src/assets/appsignal.svg
  frontend/src/components/screens/AboutScreen.tsx
Due: none

release 2.9.1
  CHANGELOG.md
Due: none

release 2.9.2
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

fix: frontend/package.json, frontend/yarn.lock & frontend/.snyk to reduce vulnerabilities
  frontend/.snyk
  frontend/package.json
  frontend/yarn.lock
Due: test-frontend

fix: frontend/package.json, frontend/yarn.lock & frontend/.snyk to reduce vulnerabilities
  frontend/.snyk
  frontend/yarn.lock
Due: test-frontend

update dependencies
  CHANGELOG.md
  backend/mix.lock
  frontend/package.json
  frontend/yarn.lock
Due: test-frontend, test-backend

use elixir 1.10
  .gitlab-ci.yml
Due: none

update to appsignal 2.0
  CHANGELOG.md
  backend/Dockerfile
  backend/README.md
  backend/config/config.exs
  backend/lib/backend/application.ex
  backend/lib/backend_web.ex
  backend/mix.exs
Due: test-backend

fix mix.lock appsignal error
  backend/mix.lock
Due: test-backend

fix appsignal compilation errors by reverting to 1.x
  backend/config/config.exs
  backend/lib/backend/application.ex
  backend/lib/backend_web.ex
  backend/mix.exs
  backend/mix.lock
Due: test-backend

allow plausible analytics in CSP
  netlify.toml
Due: none

prepare for 2.9.3
  CHANGELOG.md
Due: none

release 2.9.4
  CHANGELOG.md
  netlify.toml
Due: none

fix crawler missing APIs due to dep update
  CHANGELOG.md
  backend/config/config.exs
  backend/lib/backend/scheduler.ex
  backend/mix.exs
  backend/mix.lock
Due: test-backend

add debug config
  .vscode/launch.json
Due: none

release 2.9.5
  CHANGELOG.md
Due: none

add link to personal website on about page
  frontend/src/components/screens/AboutScreen.tsx
Due: none

allow data: images in CSP
  netlify.toml
Due: none

fix #104
  CHANGELOG.md
  backend/config/releases.exs
  backend/lib/mastodon/messenger.ex
Due: none
